/* body{
    background: url('./LoginBack.png');
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: center;

} */
.LoginPage{
    background-image: url("LoginBack.png");
    background-size: 100%;
    height: 100%;
    /* background-color: red; */
  }
  
  .FormContainer{
      position: fixed;
      background-color: white;
      width: 500px;
      margin-left: 65%;
      margin-top: 10%;
      /* margin:auto; */
      height: auto;
      text-align: center;
      align-items: center;
      flex-direction: column;
      align-items: center ;
      border: 1px solid #111;
      padding: 10px;
      border-radius: 10px;
      background: white;
  }
  
  .title{
      font-size: 50px;
      font-weight: bold;
      margin-top: 15%;
  }
  
  
  .LoginForm {
      margin-top: 10%;
      margin-left: 10%;
      margin-right: 15%;
      margin-bottom: 15%;
      align-items: center;
      
  }